@charset "UTF-8";
ul#lista-media {
    list-style: none;
}
div#tv-radio{
    width: 900px;
    height: 500px;
    margin: auto;
    background:url("../_imagens/radio-tv.png");
}audio#musica{
    width: 300px;
    display: block;
    position: relative;
    left: 575px;
    top: 435px;
}
video#filme{
    position: relative;
    display: block;
    width: 435px;
    left: 90px;
    top: 60px;
}video#edit{
    position: relative;
    display: block;
    left: 1px;
    top: 10px;
    width: 350px;
}